<div class = "body-container">
  <app-top-bar> </app-top-bar>
  <div class = "height-2-vh"></div>
  <div class = "height-max">
    <div id  ="ride-estimates">
      <app-ride-estimates (chosenDeparture) = "sendLocationToMap($event,'departure')"
                          (chosenDestination)= "sendLocationToMap($event, 'destination')"
                          (bothLocationsSelected)="drawRoute()"></app-ride-estimates>
    </div>
    <app-map [departure]= "departure" [destination]="destination" [passenger]="passenger"> </app-map>
  </div>
</div>
