<div class = "width-100 height-100 white-text">
  <div class = "label-container width-70 sub-margin-medium dark-grey">
    Prijava
  </div>

  <div class = "height-70 width-100 border-right flex-column">
   <form [formGroup] ="loginForm" class = "height-80 width-100">
     <div class = "flex-column height-100 center-vertical">
      <mat-form-field appearance="fill" class = "mat-form-field center-horizontal">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" type = "email">
      </mat-form-field><br>
      <mat-form-field appearance="fill" class = "mat-form-field center-horizontal">
        <mat-label>Lozinka</mat-label>
        <input matInput name="password" formControlName="password" type = "password">
      </mat-form-field><br>

      <button mat-button type="button" id = "submit" class = "button-rounded bright-orange mat-h1 center-horizontal login-button-margin"
      (click)="login()">
         <mat-icon class = "icon" >login</mat-icon>
         Prijava
       </button>
     </div>
    </form>
  </div>

  <div class = "stick-to-bottom flex-row">
    <div class = "flex-row center-vertical">
      <p class = "mat-h2 span-margin">Zaboravljena lozinka?</p>
      <button mat-button type="button" class = "button-rounded sky-blue mat-h3 center-horizontal">
        <mat-icon class = "icon" >edit</mat-icon>
        Promeni lozinku
      </button>
    </div>
  </div>
</div>
