#map {
  height: 100%;
  z-index: 0;
}

.legend {
  color: black;
  z-index: 991;
  position: absolute;
  right: 2vw;
  bottom: 4vh;
  height: 5vh;
  width: fit-content;
  padding: 1vh 2vw;
  font-weight: 300;
  background: #EEEEEE;
  box-shadow: rgb(0 0 0 / 50%) 0 0.65vh 0.35vh;
}
