.card {
  box-shadow: 5px 8px 15px rgba(0,0,0,0.3);
  padding: 1vw;
  border-radius: 1.25vw;
  background: #EEEEEE;
}

.temporary-border {
  border: 1px solid black;
}

mat-form-field {
  width: 20vw;
}

