<body>
  <div id="my-main">
      <div id="left-half">
        <div id="registration-header-container" class="dark-grey">
          <h1 id="registration-header">
            Registracija
          </h1>
        </div>

        <div class="inputs-container" id="right-form">
          <form [formGroup] ="registerPassengerForm" (ngSubmit)="registerPassenger()">
            <mat-form-field  >
              <mat-label>Ime</mat-label>
              <input matInput name="name">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Prezime</mat-label>
              <input matInput name="surname">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Adresa</mat-label>
              <input matInput name="address">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Telefon</mat-label>
              <input matInput name="telephoneNumber">
            </mat-form-field><br>
          </form>
        </div>
      </div>
      <div id="right-half">
        <div class="inputs-container" id="left-form">
          <form [formGroup] ="registerPassengerForm">
            <mat-form-field  >
              <mat-label>E-mail</mat-label>
              <input matInput name="email">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Lozinka</mat-label>
              <input matInput name="password">
            </mat-form-field><br>
          </form>
          <button mat-button type="submit" class = "bright-orange button-rounded mat-h1 button">
            <mat-icon class = "icon" >perm_identity</mat-icon>
            Registracija
          </button>
        </div>
      </div>
  </div>
</body>
