body {
  display: flex;
  flex-direction: column;
  background: #303841;
  font-weight: 100 !important;
}

#my-main {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 70vh;
  padding-top: 6vh;
  padding-bottom: 3vh;
  background: #EEEEEE;
  border-radius: 20px;
  margin: 7vh auto auto;
}

.logo-bar {
  height: 8vh;
  display: flex;
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
}

.logo-bar-image {
  margin: auto 1vw auto 0;
  height: 4vw;
  width: 4vw;
}

#registration-header {
  display: inline-block;
  font-size: 2.5vw;
}

.half-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.unhide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  padding-right:0.25vw;
  transform: scale(1.625);
}

.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.submit-margin {
  margin: auto auto 3vh;
}

.mat-form-field {
  width: 80%;
  color: black;
}

.nav-bottom-bar {
  display: flex;
  padding: 0 1vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stepper-container {
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 2vw;
}

.slide-left {
  position: relative;
  animation: animateleft 0.5s;
}

.slide-right {
  position: relative;
  animation: animateright 0.5s;
}

@keyframes animateright {
   0% {
     right: -300px;
     opacity: 0;
   }

   100% {
     right : 0;
     opacity: 1;
   }
 }

@keyframes animateleft {
  0% {
    left: -300px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}


