<div class = "main-page dark-grey">
<app-driver-side-navigation></app-driver-side-navigation>
  <div class = "main-content">
    <div id ="ride-estimates">
      <app-driver-ride *ngIf="rideReceived" (chosenDeparture) = "sendLocationToMap($event,'departure')"
                          (chosenDestination)= "sendLocationToMap($event, 'destination')"
                          (bothLocationsSelected)="drawRoute()"></app-driver-ride>
    </div>
    <app-map [displayCar]="displayCar" [departure]="departure" [destination]="destination" [passenger]="passenger"></app-map>
    <app-panic></app-panic>
  </div>
</div>
<router-outlet></router-outlet>
