::ng-deep .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}
::ng-deep .mdc-text-field--disabled .mdc-text-field__input {
  color:black;
}
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-weight: 300!important;
}

::ng-deep .ng-star-inserted {
  color: red !important;
}

::ng-deep mat-label, input {
  color: black;
  font-weight: 300!important;
}

::ng-deep .mdc-text-field--disabled.mdc-text-field--filled,
::ng-deep .mat-mdc-text-field-wrapper,
::ng-deep .mdc-snackbar__surface{
  border-radius: 1.25vw !important;
}

::ng-deep .mdc-text-field--filled {

  background-color: #D9D9D9!important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: #00ADB5 !important;
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: rgba(0,0,0,0.7) !important;
  --mdc-snackbar-supporting-text-color : white;
}

::ng-deep .mat-mdc-simple-snack-bar {
  padding: 1.5vh 1vw;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-weight: 100 !important;
  text-align: center;
  font-size: 3vh !important;
}

.bright-orange{
  background: #FF5722 !important;
}

.dark-grey{
  background: #303841;
}

.sky-blue {
  background: #00ADB5;
}

.light-grey {
  background: #EEEEEE;
}

.font-weight-light {
  font-weight: 100 !important;
}

.standard-border-radius {
  border-radius: 1.25vw;
}

.button-rounded {
  border-style: none;
  border-radius: 1.25vw;
  color: white;
  font-weight: 100;
  padding: 1.4vw 2.5vw;
  width: fit-content;
}

.center-vertical {
  margin-top: auto;
  margin-bottom:auto;
}

.center-horizontal {
  margin-right: auto;
  margin-left: auto;
}

.width-20-vw {
  width: 20vw;
}

.no-border {
  border-style: none;
}

.height-100-vh {
  height: 100vh;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 300;
  padding:1vw 4vw 1vw 1vw;
  height : 4vh;
  border-bottom-right-radius: 2vw;
  border-top-right-radius: 2vw;
}

.label-flipped {
  border-radius: 2vw 0 0 2vw;
}
.height-85 {
  height: 85%;
}

.no-margin {
  margin: 0;
}

.sub-margin-medium {
  margin-bottom: 4vh;
}

.height-70 {
  height: 70%;
}

.height-15 {
  height: 15%;
}

.width-100 {
  width: 100%;
}

.margin-right-0 {
  margin-right: 0;
}

.width-70 {
  width: 70%;
}

.place-end {
  place-items: flex-end;
  display: flex;
  flex-direction: column;
}

.border-right {
  border-right: 1px solid #a6a6a6;
}
.height-100 {
  height: 100%;
}

.height-80 {
  height: 80%;
}

.height-20 {
  height: 20%;
}



