<div class = "logo-bar distance-between-max white-text">
  <div class = "flex-row stick-to-left">
    <img src="../../../assets/images/logo.png" class = "logo-bar-image" alt="logo"/>
    <p class = "center-vertical mat-headline-4 font-weight-light"> CarGoBrrr</p>
  </div>

  <div class = "center-vertical">
  <button mat-button type = "button" class = "sky-blue button-rounded mat-h1" (click)="redirectToLoginRegister()">
    <span class = "flex-row">
      <mat-icon class = "icon" >login</mat-icon>
      Prijava&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
      <mat-icon class = "icon" >perm_identity</mat-icon>
      Registracija
    </span>
  </button>
  </div>
</div>
