body {
  display: flex;
  flex-direction: column;
  background: #303841;
  font-weight: 100 !important;
}

#my-main {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 70vh;
  padding-top: 6vh;
  padding-bottom: 3vh;
  background: #EEEEEE;
  border-radius: 20px;
  margin: 7vh auto auto;
}

.logo-bar {
  height: 8vh;
  display: flex;
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
}

.logo-bar-image {
  margin: auto 1vw auto 0;
  height: 4vw;
  width: 4vw;
}

.half-container {
  height: 100%;
  width: 50%;
}
