<div class = "modal-overlay-layer white-text flex-column standard-border-radius">
  <div class = "standard-border-radius mat-h1 padding-bottom-2vh width-50 background-color-white">
    <div class = "label-container-small sky-blue stick-to-left flex-row white-text width-40 margin-bottom-2vh">
      <mat-icon matListItemIcon class = "icon">settings</mat-icon>
      Izmeni lozinku:
    </div>

    <form class = "form-container center-horizontal width-100 flex-row flex-wrap">
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Stara lozinka</mat-label>
        <input matInput name = "old-pass" type="password">
      </mat-form-field><br><br>
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Nova lozinka</mat-label>
        <input matInput name = "new-pass" type="password">
      </mat-form-field><br><br>
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Ponovi novu</mat-label>
        <input matInput name = "new-pass-again" type="password">
      </mat-form-field><br><br>
    </form>

    <div class = "flex-row space-evenly width-100" id="buttons">
      <button mat-button class = "bright-orange button-rounded mat-h1" type="submit">
        <mat-icon class = "icon">check</mat-icon>
        Potvrdi
      </button>

      <button  mat-button class = "bright-orange button-rounded mat-h1" type="button"
      (click)="closeDriverChangingPassword()">
        <mat-icon class = "icon">arrow_back</mat-icon>
        Otkaži
      </button>
    </div>
  </div>
</div>
