<div class = "modal-overlay-layer white-text flex-column standard-border-radius">
  <div class = "standard-border-radius mat-h1 padding-bottom-2vh padding-top-2vh width-50 background-color-white">
    <div class = "label-container-small sky-blue stick-to-left flex-row white-text width-40 margin-bottom-2vh">
      <mat-icon matListItemIcon class = "icon">settings</mat-icon>
      Izmeni lozinku:
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class = "form-container center-horizontal width-100 flex-row flex-wrap">
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Stara lozinka</mat-label>
        <input matInput name = "old-pass" type="password" formControlName="oldPassword">
      </mat-form-field><br><br>
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Nova lozinka</mat-label>
        <input matInput name = "new-pass" type="password" formControlName="newPassword">
      </mat-form-field><br><br>
      <mat-form-field appearance="fill" class="width-80 margin-bottom-2vh">
        <mat-label>Ponovi novu</mat-label>
        <input matInput name = "new-pass-again" type="password" formControlName="repeatNewPassword">
      </mat-form-field><br><br>

      <div class = "flex-row space-evenly width-100 margin-top-1vh" id="buttons">
        <button mat-button class = "bright-orange button-rounded mat-h1" type="submit">
          <mat-icon class = "icon">check</mat-icon>
          Potvrdi
        </button>

        <button  mat-button class = "bright-orange button-rounded mat-h1" type="button"
                 (click)="closeDriverChangingPassword()">
          <mat-icon class = "icon">arrow_back</mat-icon>
          Otkaži
        </button>
      </div>
    </form>
  </div>
</div>
