<body>
<app-side-navigation></app-side-navigation>
<div class = "main-content">
  <div id="user-header-container" class="bright-orange">
    <mat-icon matListItemIcon class = "person-icon">person_outline</mat-icon>
    <h1 id="user-header">
      Podaci o korisniku
    </h1>
  </div>

  <div class="profile-picture-container">
    <img src="assets/images/account.png" class = "profile-picture" alt="profile picture">
  </div>

  <div class="inputs-container">
    <form [formGroup] ="updatePassengerForm" (ngSubmit)="toggleUpdateMode()"  class = "form-container">
      <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input matInput [value]="this.passenger.name" name = "name" formControlName="name">
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Prezime</mat-label>
        <input matInput [value]="this.passenger.surname" name = "surname" formControlName="surname">
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Broj telefona</mat-label>
        <input matInput [value]="this.passenger.telephoneNumber" name = "telephoneNumber" formControlName="telephoneNumber">
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Adresa</mat-label>
        <input matInput [value]="this.passenger.address" name = "address" formControlName="address">
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput [value]="this.passenger.email" name = "email" formControlName="email">
      </mat-form-field><br>


    <div class="buttons">
      <button mat-button class = " bright-orange button-rounded mat-h1 button"
              [ngClass]="{'sky-blue':updateMode,'bright-orange':!updateMode }"
              type = "submit">
        <mat-icon class = "icon">mode_edit</mat-icon>
        {{updateButtonText}}
      </button>
      <button mat-button class = "bright-orange button-rounded mat-h1 button">
        <mat-icon class = "icon">password</mat-icon>
        Promeni lozinku
      </button>

    </div>
  </form>
  </div>
</div>
</body>
<router-outlet></router-outlet>
