<div class = "width-20 sidenav">

      <div class = "logo-bar">
          <img src="assets/images/logo.png" class = "logo-bar-image"/>
          <p class = "center-vertical mat-headline-5 font-weight-light"> CarGoBrrr</p>
      </div>

      <mat-card class="sidenav-profile-header">
        <img src="assets/images/account.png" class = "profile-picture">
        <mat-card-content>
          <p class = "mat-h1 font-weight-light">
            Ime Prezime
          </p>
        </mat-card-content>
      </mat-card>

      <mat-list>
        <mat-list-item class = "list-item">
          <mat-icon matListItemIcon class = "icon">home</mat-icon>
          <span class = "font-weight-light mat-h2">Početna</span>
        </mat-list-item>

        <mat-list-item class = "list-item">
          <mat-icon matListItemIcon class = "icon">history</mat-icon>
          <span class = "font-weight-light mat-h2">Istorija vožnji</span>
        </mat-list-item>

        <mat-list-item class = "list-item">
          <mat-icon matListItemIcon class = "icon">person_outline</mat-icon>
          <span class = "font-weight-light mat-h2">Nalog</span>
        </mat-list-item>

        <mat-list-item class = "list-item">
          <mat-icon matListItemIcon class = "icon">support_agent</mat-icon>
          <span class = "font-weight-light mat-h2">Podrška</span>
        </mat-list-item>
      </mat-list>

      <button mat-button class = "bright-orange button-rounded mat-h1 logout-button">
        <mat-icon class = "icon">logout</mat-icon>
        Odjava
      </button>
 </div>



