* {
  font-weight: 100 !important;
}

.logo-bar {
  height: 8vh;
  display: flex;
  margin-top: 2vh;
  width: 100%;
  justify-content: center;
}

.logo-bar-image {
  margin: auto 1vw auto 0;
  height: 4vw;
  width: 4vw;
}

.profile-picture {
  border: 0.75vh solid #FF5722;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  margin-bottom: 2vh;
}

.sidenav-profile-header {
  background-color: #303841;
  box-shadow: none;
  border-style: none;
  margin-top: 5vh;
  margin-bottom: 2vh;
  align-items: center;
}

.icon {
  color: white;
  margin-right: 10px !important;
  transform: scale(1.2);
}

.list-item {
  align-items: center;
  padding-left: 1vw !important;
  border-bottom-right-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  width: 17vw;
}

.list-item:hover {
  background-color: rgba(0, 173, 181,0.5);
}

.sidenav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #303841;
}







