<div class = "modal-overlay-layer standard-border-radius white-text flex-column standard-border-radius">
  <div class = "width-50 order-form-container light-grey">
      <div class = "label-container-small sky-blue stick-to-left flex-row">
        <mat-icon matListItemIcon class = "icon">group_add</mat-icon>
        Dodaj putnike:
      </div>
      <br>
       <div class = "flex-row justify-items-start padding-left-2vw">
            <img src="../../../assets/images/account.png" class = "circle-picture">
       </div>
      <br>
    <div class = "label-container-small sky-blue stick-to-left flex-row">
      <mat-icon matListItemIcon class = "icon">settings</mat-icon>
      Odaberi opcije:
    </div>
    <br>
    <div class = "flex-row black-text justify-items-start padding-left-2vw width-100 mat-h2 font-weight-medium">
      Tip vozila:&nbsp;&nbsp;

        <mat-select class = "width-40 select-bar black-text font-weight-medium">
          <mat-option value="STANDARDNO">Standardno</mat-option>
          <mat-option value="LUKSUZNO">Luksuzno</mat-option>
          <mat-option value="KOMBI">Kombi</mat-option>
        </mat-select>
      <br>

    </div>
  </div>
</div>
