<div class="main-page">
  <app-admin-side-navigation></app-admin-side-navigation>
  <div class="main-content padding-top-2vh ">
    <div class="bright-orange label-container width-50">
      <mat-icon matListItemIcon class = "person-icon">person_outline</mat-icon>
      Kreiranje Vozača/Vozila
    </div><br>
    <div class="custom-flex">

    <div class="left">
      <div class="profile-picture-container">
        <img [src]="image" class = "profile-picture" alt="profile picture">
      </div>

      <div id="file-upload" class="flex-row mat-h3 padding-bottom-2vh">
        <input type="file" class="file-input"
               (change)="onFileSelected($event)" #fileUpload>
        <mat-icon>edit</mat-icon>
        <p (click)="fileUpload.click()" class="font-weight-light">Dodaj profilnu sliku</p>
      </div>

      <form [formGroup] ="createDriverForm" (ngSubmit)="toggleUpdateMode()" class = "form-container center-horizontal">
        <mat-form-field appearance="fill">
          <mat-label>Ime</mat-label>
          <input matInput name = "name" formControlName="name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Prezime</mat-label>
          <input matInput name = "surname" formControlName="surname">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Broj telefona</mat-label>
          <input matInput name = "telephoneNumber" formControlName="telephoneNumber">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Adresa</mat-label>
          <input matInput name = "address" formControlName="address">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput name = "email" formControlName="email">
        </mat-form-field><br>
      </form><br><br>
    </div>

    <div class="right">
        <!--<div class="bright-orange label-container width-30">
          <mat-icon matListItemIcon class = "person-icon">person_outline</mat-icon>
          Podatci o vozilu
        </div><br>-->

      <form [formGroup] ="createDriverForm" (ngSubmit)="toggleUpdateMode()" class = "form-container center-horizontal padding-right">

        <mat-form-field appearance="fill">
          <mat-label>Tip vozila</mat-label>
          <mat-select matInput name="vehicleType">
            <mat-option value="one">STANDARD</mat-option>
            <mat-option value="two">LUKSUZNO</mat-option>
            <mat-option value="tree">KOMBI</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Model</mat-label>
          <input matInput name = "model" formControlName="model">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
          <mat-label>Broj registarske table</mat-label>
          <input matInput name = "licence" formControlName="licence">
        </mat-form-field><br>

        <mat-form-field appearance="fill">
          <mat-label>Broj sedišta za putnike</mat-label>
          <input matInput name = "seats" formControlName="seats">
        </mat-form-field><br>

        <mat-checkbox name="babySeat" (click)="toggleBaby()">Sedište za bebe</mat-checkbox>
        <mat-checkbox name="petTransport" (click)="togglePet()">Transport ljubimaca</mat-checkbox>

        <div class="buttons">
          <button mat-button class = "bright-orange button-rounded mat-h1"
                  [ngClass]="{'bright-orange':true }"
                  type = "submit">
            <mat-icon class = "icon">mode_edit</mat-icon>
            {{"Kreiraj vozača"}}
          </button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
